.white {
    color: white !important;
}

body {
    background-color: black;
}

#button-no-border {
    outline: none;
    border-style: none;
}

#no-link-style {
    color: white !important;
    text-decoration: none !important;
}

.header {
    background-image: url(../IMG/Header.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 130px;
    background-position-x: 700px;
    box-shadow: 690px 100px 60px 60px black inset;
}

hr {
    background-color: white;
}

.table-custom {
    max-width: 1000px;
}

.thead-custom {
    background-color: rgb(19, 19, 19);
    color: white;
}

.black-bg {
    background-color: rgb(19, 19, 19);
}